<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cma.dao.EquipmentApplicationMapper">
  <resultMap id="BaseResultMap" type="com.cma.pojo.EquipmentApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="application_date" jdbcType="DATE" property="applicationDate" />
    <result column="application_purpose" jdbcType="VARCHAR" property="applicationPurpose" />
    <result column="equipment_use" jdbcType="TINYINT" property="equipmentUse" />
    <result column="equipment_number" jdbcType="VARCHAR" property="equipmentNumber" />
    <result column="software_info" jdbcType="VARCHAR" property="softwareInfo" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="audit_date" jdbcType="DATE" property="auditDate" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, applicant, application_date, application_purpose, equipment_use, equipment_number, 
    software_info, auditor, audit_date, audit_opinion
  </sql>
  <select id="selectByExample" parameterType="com.cma.dao.example.EquipmentApplicationExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from equipment_application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cma.dao.example.EquipmentApplicationExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from equipment_application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.cma.dao.example.EquipmentApplicationExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from equipment_application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update equipment_application
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.applicant != null">
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationDate != null">
        application_date = #{record.applicationDate,jdbcType=DATE},
      </if>
      <if test="record.applicationPurpose != null">
        application_purpose = #{record.applicationPurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentUse != null">
        equipment_use = #{record.equipmentUse,jdbcType=TINYINT},
      </if>
      <if test="record.equipmentNumber != null">
        equipment_number = #{record.equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareInfo != null">
        software_info = #{record.softwareInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null">
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.auditDate != null">
        audit_date = #{record.auditDate,jdbcType=DATE},
      </if>
      <if test="record.auditOpinion != null">
        audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update equipment_application
    set id = #{record.id,jdbcType=BIGINT},
      applicant = #{record.applicant,jdbcType=VARCHAR},
      application_date = #{record.applicationDate,jdbcType=DATE},
      application_purpose = #{record.applicationPurpose,jdbcType=VARCHAR},
      equipment_use = #{record.equipmentUse,jdbcType=TINYINT},
      equipment_number = #{record.equipmentNumber,jdbcType=VARCHAR},
      software_info = #{record.softwareInfo,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      audit_date = #{record.auditDate,jdbcType=DATE},
      audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>