<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cma.dao.SampleReceiptMapper">
  <resultMap id="BaseResultMap" type="com.cma.pojo.SampleReceipt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sample_id" jdbcType="BIGINT" property="sampleId" />
    <result column="application_unit" jdbcType="VARCHAR" property="applicationUnit" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="test_type" jdbcType="TINYINT" property="testType" />
    <result column="electronic_media" jdbcType="VARCHAR" property="electronicMedia" />
    <result column="software_type" jdbcType="TINYINT" property="softwareType" />
    <result column="receive_unit" jdbcType="VARCHAR" property="receiveUnit" />
    <result column="receive_date" jdbcType="DATE" property="receiveDate" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="sampleStateNow" jdbcType="TINYINT" property="samplestatenow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, sample_id, application_unit, version, contract_id, test_type, electronic_media, 
    software_type, receive_unit, receive_date, sender, receiver, sampleStateNow
  </sql>
  <select id="selectByExample" parameterType="com.cma.dao.example.SampleReceiptExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sample_receipt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cma.dao.example.SampleReceiptExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from sample_receipt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.cma.dao.example.SampleReceiptExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from sample_receipt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update sample_receipt
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sampleId != null">
        sample_id = #{record.sampleId,jdbcType=BIGINT},
      </if>
      <if test="record.applicationUnit != null">
        application_unit = #{record.applicationUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.contractId != null">
        contract_id = #{record.contractId,jdbcType=VARCHAR},
      </if>
      <if test="record.testType != null">
        test_type = #{record.testType,jdbcType=TINYINT},
      </if>
      <if test="record.electronicMedia != null">
        electronic_media = #{record.electronicMedia,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareType != null">
        software_type = #{record.softwareType,jdbcType=TINYINT},
      </if>
      <if test="record.receiveUnit != null">
        receive_unit = #{record.receiveUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDate != null">
        receive_date = #{record.receiveDate,jdbcType=DATE},
      </if>
      <if test="record.sender != null">
        sender = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.receiver != null">
        receiver = #{record.receiver,jdbcType=VARCHAR},
      </if>
      <if test="record.samplestatenow != null">
        sampleStateNow = #{record.samplestatenow,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update sample_receipt
    set id = #{record.id,jdbcType=BIGINT},
      sample_id = #{record.sampleId,jdbcType=BIGINT},
      application_unit = #{record.applicationUnit,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      contract_id = #{record.contractId,jdbcType=VARCHAR},
      test_type = #{record.testType,jdbcType=TINYINT},
      electronic_media = #{record.electronicMedia,jdbcType=VARCHAR},
      software_type = #{record.softwareType,jdbcType=TINYINT},
      receive_unit = #{record.receiveUnit,jdbcType=VARCHAR},
      receive_date = #{record.receiveDate,jdbcType=DATE},
      sender = #{record.sender,jdbcType=VARCHAR},
      receiver = #{record.receiver,jdbcType=VARCHAR},
      sampleStateNow = #{record.samplestatenow,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>