<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cma.dao.SampleIoMapper">
  <resultMap id="BaseResultMap" type="com.cma.pojo.SampleIo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="sampleIoId" />
    <result column="sample_id" jdbcType="BIGINT" property="sampleId" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="receiever" jdbcType="VARCHAR" property="receiever" />
    <result column="send_date" jdbcType="DATE" property="sendDate" />
    <result column="obtainer" jdbcType="VARCHAR" property="obtainer" />
    <result column="obtain_date" jdbcType="DATE" property="obtainDate" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, sample_id, sender, receiever, send_date, obtainer, obtain_date, note
  </sql>
  <select id="selectByExample" parameterType="com.cma.dao.example.SampleIoExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sample_io
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cma.dao.example.SampleIoExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from sample_io
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.cma.dao.example.SampleIoExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from sample_io
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update sample_io
    <set>
      <if test="record.sampleIoId != null">
        id = #{record.sampleIoId,jdbcType=BIGINT},
      </if>
      <if test="record.sampleId != null">
        sample_id = #{record.sampleId,jdbcType=BIGINT},
      </if>
      <if test="record.sender != null">
        sender = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.receiever != null">
        receiever = #{record.receiever,jdbcType=VARCHAR},
      </if>
      <if test="record.sendDate != null">
        send_date = #{record.sendDate,jdbcType=DATE},
      </if>
      <if test="record.obtainer != null">
        obtainer = #{record.obtainer,jdbcType=VARCHAR},
      </if>
      <if test="record.obtainDate != null">
        obtain_date = #{record.obtainDate,jdbcType=DATE},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update sample_io
    set id = #{record.sampleIoId,jdbcType=BIGINT},
      sample_id = #{record.sampleId,jdbcType=BIGINT},
      sender = #{record.sender,jdbcType=VARCHAR},
      receiever = #{record.receiever,jdbcType=VARCHAR},
      send_date = #{record.sendDate,jdbcType=DATE},
      obtainer = #{record.obtainer,jdbcType=VARCHAR},
      obtain_date = #{record.obtainDate,jdbcType=DATE},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>